<header class="header">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="logo">
    </div>
    <nav class="menu" [class.open]="menuIsOpen">
      <div class="close">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256" (click)="closeMenu()">
          <g fill="#821328" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
             stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
             font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <g transform="scale(5.12,5.12)">
              <path
                d="M7.71875,6.28125l-1.4375,1.4375l17.28125,17.28125l-17.28125,17.28125l1.4375,1.4375l17.28125,-17.28125l17.28125,17.28125l1.4375,-1.4375l-17.28125,-17.28125l17.28125,-17.28125l-1.4375,-1.4375l-17.28125,17.28125z"></path>
            </g>
          </g>
        </svg>
      </div>
      <ul>
        <li>
          <a href="#" (click)="scrollTo(macaroonsSection)">
            Пироженки
          </a>
        </li>
        <li>
          <a href="#" (click)="scrollTo(about)">
            О нас
          </a>
        </li>
        <li>
          <a href="#" (click)="scrollTo(orderMacaroon)">
            Оформить заказ
          </a>
        </li>
      </ul>
    </nav>
    <div class="number">
      {{ companyPhone }}
    </div>
    <div class="burger"  (click)="openMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
        <g fill="#821328" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
           stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
           font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <g transform="scale(5.12,5.12)">
            <path
              d="M3,9c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h44c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587zM3,24c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h44c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587zM3,39c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h44c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587z"></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
</header>

<section class="main">
  <div class="container">
    <div class="main-info">
      <div class="main-info-title">
          Мягкие французские
          пироженки Macaroons
      </div>
      <div class="main-info-text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <div class="main-info-action">

        <button class="btn main-btn" (click)="scrollTo(macaroonsSection)">Выбрать макарун</button>

      </div>

    </div>
    <div class="main-image">
      <img src="assets/images/main-img.png" alt="main-img">
    </div>
  </div>
</section>

<section class="advantages" #about>
  <div class="container">
    <div class="grid-container">
      <div class="advantage-title" id="about">
        Мы печём для вас
        вкуснейшие макаруны
        уже более 10 лет
      </div>
      <div class="advantage-text">
        Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов, ароматизаторов,
        красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина, разрыхлителей и
        улучшителей муки.
      </div>

      <div class="advantage-image">
        <img src="assets/images/advantage-image.png" alt="advantage-macaroon">
      </div>
    </div>


    <div class="advantage-items">
      <div class="advantage-item" *ngFor="let advantage of advantages; let i = index">
        <div class="item-number">
          <div class="item-number-position">{{ i + 1 }}</div>
        </div>
        <div class="item-title">
          {{ advantage.title }}
        </div>
        <div class="item-text">
          {{ advantage.text }}
        </div>
      </div>
    </div>
  </div>


</section>

<section class="products" #macaroonsSection>
  <div class="container">
    <div class="products-title">
      <h2>Выберите свой макарун</h2>
    </div>
    <div class="products-item" *ngFor="let product of products; let i = index">
      <div class="products-item-image">
        <img src="assets/images/{{product.image}}" alt="Product macaroon {{i + 1}}">
      </div>
      <div class="products-item-title">
        {{ product.title }}
      </div>
      <div class="products-item-advantages">
        <div class="products-item-advantages-text">
          <div class="products-item-advantages-price-quantity">
            1шт.
          </div>
          <div class="products-item-advantages-price">
            1,70 руб.
          </div>
        </div>
        <button class="btn products-btn" (click)="addToCart(product, orderMacaroon)">Заказать</button>

      </div>
    </div>

  </div>
</section>

<section class="order" #orderMacaroon>
  <div class="container">
    <div class="order-image">
      <img src="assets/images/muchMacaroons.png" alt="macaroons">
    </div>
    <div class="order-title">
      Закажите макарун!
    </div>
    <div class="order-text">
      Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
    </div>
    <div class="order-form-choice">
      <div class="order-form-choice-text">
        Ваш выбор
      </div>
      <input type="text" class="order-input" placeholder="Напишите, что хотите заказать..."
             [(ngModel)]="formValues.title">
    </div>
    <div class="order-form-data">
      <div class="order-form-data-text">
        Заполните данные для заказа
      </div>

      <input type="text" class="order-input" placeholder="Ваше имя" [(ngModel)]="formValues.name">
      <input type="text" class="order-input" placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
      <button class="btn order-btn" (click)="createOrder()">Оформить заказ</button>
    </div>
    <img src="assets/images/straberry2.png" class="strawberry2" alt="strawberry">
    <img src="assets/images/strawberry1.png" class="strawberry1" alt="strawberry">
  </div>

</section>

<footer class="footer">
  <div class="container">
    <div class="logo-rights">
      <img src="assets/images/logo.png" alt="logo">

    </div>
    <div class="rights">
      Все права защищены, 2020
    </div>

    <div class="footer-inst">
      <div class="inst-img">
        <a href="{{companyInstUrl}}">
          <img src="assets/images/inst.png" alt="instagram">
        </a>
      </div>
    </div>
    <div class="footer-inst-text">
      <a class="footer-inst-link" href="{{companyInstUrl}}">
        Мы в Instagram
      </a>
    </div>

    <div class="number">
      {{ companyPhone }}
    </div>

  </div>
</footer>
<div class="present-bottom" [class.show]="showPresent">
  <div class="present">
    <img src="assets/images/present.png" alt="present">
    <div class="window">
      <div class="text-window">
        Оформите заказ
        и получите подарок!
      </div>

    </div>
  </div>
</div>
