* {
  margin: 0;
}

.btn {
  background-image: linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all .5s ease;
}


.btn a {
  text-decoration: none;
  border-radius: 30px;
  font-size: 18px;
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(255, 255, 255);
}

.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}
